// .backgroundImg{
//     background-position: center center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }


// Placeholder: ko bien dich trong file css, chi suport cho extend
%backgroundImg{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}