.courses{
    margin: $mg-1 0;
    .course__content{
        width: 90%;
        margin: 0 auto;
        .row{
            margin: 0;
        }
        .course__left{
            background-color: $color-gray-1;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            h2{
                @include styleText($color-black-0, $fs-3, $fw-0);
            }
        }
        #myTab{
            margin-bottom: $mg-1;
            .nav-link{
                @include styleText($color-black-0, $fs-0, $fw-0);
                &:hover{
                    border-color: transparent;
                    @include styleText($color-blue-0, $fs-0, $fw-0);
                }
                &.active{
                    border: 1px solid transparent;
                    border-bottom: 5px solid $color-blue-0;
                }
            }
        }

    }

    @include reponsive('screen-1'){
        .course__content{
            .card{
                height: 275px;
                .card-body{
                    padding: 1rem;
                    .card-title{
                        @include styleText($color-black-0, $fs-1, $fw-1);
                        margin-bottom: $mg-0 + 5;
                    }
                }
            }
        }   
    }
}

